src/main/java/com/esgis/utils/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Apr 06 2019 17:18:33 GMT+0100 (heure normale d’Afrique de l’Ouest) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="traitements">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="flux" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="chemin" type="xs:string"></xs:element>
                                             <xs:element name="nommage" type="xs:string"></xs:element>
                                             <xs:element name="frequence" type="xs:int"></xs:element>
                                             <xs:element name="lot" type="xs:int"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>